<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Address Page</title>

    <!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
		<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Slabo+24px" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet"> <!-- masih belum bisa -->
		<link href="../css/style.css" rel="stylesheet"> <!-- masih belum bisa -->
		<style media="screen">
		.body{
			font-family: 'Slabo 24px', serif;
		}
		.head{
			text-align: center;
			background-color: #f2f2f2;
			padding: 3% 20%;
		}
		.head ul{
			padding-left: 0
		}
		.head ul li{
			display: inline-block;
			ap
		}
		.head li a{
			color: #39171c;
			padding: 5px 10px;

		}
		.head li a:hover{
			color: #39171c;
			text-decoration: none;
			border: 4px solid #ef0069;
			padding: 5px 6px;
		}
		.detail .add{
			text-align: center;
			margin : 40px 0;
		}
		.detail .btna{
			background: linear-gradient(45deg, rgba(255,184,115,0.65) 25%,rgba(255,124,189,0.65) 100%);
			border-radius: 2px;
			box-shadow: 0px 2px 4px rgba(34,62,66,.25);
		  color: #fff;
		  font: 14px;
		  letter-spacing: 1px;
		  padding: 16px 32px;
		  text-decoration: none;
		  text-transform: uppercase;
		  -webkit-transition: box-shadow 1s ease;
			transition: box-shadow 1s ease;
		}
		.detail .btna:hover {
			box-shadow: 0px 4px 4px rgba(34,62,66,.5);
			-webkit-transition: box-shadow 1s ease;
			transition: box-shadow 1s ease;
		}
		.detail .table_data{
			text-align: center;
		}
		.table_data td{
			text-align: left;
		}
		</style>
</head>
<body>
	<section>
		<div class="head">
			<ul>
				<li><a href="/">Home</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/groups">Groups</a></li>
					<li><a href="/address">Address</a></li>
					<li><a href="/profile">Profile</a></li>
			</ul>
		</div>

		<div class="detail">
			<div class="add">
				<a class="btna" href="/addAddress">Tambah Address Baru</a>
			</div>
			<div class="table_data col-md-12">
				<table class="table table-hover">
					<thead>
						<tr>
						 <th>No</th>
							<th>ID Address</th>
							<th>Street Name</th>
							<th>City</th>
							<th>Province</th>
							<th>ZIP Codes</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<% address_data.forEach((a, index) => { %>
							<tr>
								<td> <%= index+1 %></td>
								<td> <%= a.id %></td>
								<td> <%= a.street_name %></td>
								<td> <%= a.city %></td>
								<td> <%= a.province %></td>
								<td> <%= a.zipcodes %></td>
								<td> <a href="/address/edit/<%= a.id%>">Edit</a> <a href="/address/delete/<%= a.id%>">Delete</a></td>
							</tr>
						<% }) %>
					</tbody>
				</table>
			</div>
		</div>
	</section>

</body>
</html>
