<!DOCTYPE html>
<html>
  <head>
  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #111;
    }
</style>
    <meta charset="utf-8">
    <title>Addresses</title>
  </head>
  <body>
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="contacts">Contact</a></li>
      <li><a href="groups">Group</a></li>
      <li><a href="addresses">Address</a></li>
      <li><a href="profiles">Profile</a></li>
    </ul>
    <table>
      <tr>
        <th>Id</th>
        <th>Street</th>
        <th>City</th>
        <th>ZIP code</th>
        <th>Contact Name</th>
        <th>Company</th>
        <th>Telp Number</th>
        <th>Email</th>
        <th>Actions</th>
      </td>
      <% for(var i = 0; i < data.length; i++) { %>
      <tr>
        <td><%= data[i].id %></td>
        <td><%= data[i].street %></td>
        <td><%= data[i].city %></td>
        <td><%= data[i].zip_code %></td>
        <td><%= data[i].name %></td>
        <td><%= data[i].company %></td>
        <td><%= data[i].telp_number %></td>
        <td><%= data[i].email %></td>
        <td>
            <a class = 'button_2' href='addresses/edit/<%= data[i].id %>'>Edit </a>||
            <a class = 'button_2' href='addresses/delete/<%= data[i].id %>'>Delete </a>||
        </td>
      </tr>
      <%  }  %>

    </table>

    <form action="/addresses" method="post">
      <input type="text" name='street' placeholder="street name">
      <input type="text" name='city' placeholder="city name">
      <input type="text" name='zip_code' placeholder="ZIP code">
      <select name="contacts_id">
      <% data_contact.forEach( cont => {%>
        <option value="<%= cont.id%>"><%= cont.name%></option>
      <%})%>
      </select>
      <button class = 'button_3' type="submit">Submit</button>
    </form>

  </body>
</html>
