<!DOCTYPE html>
<html>
  <head>
      <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }

        li {
          float: left;
        }

        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }

        li a:hover {
          background-color: #111;
        }
    </style>
    <meta charset="utf-8">
    <title>Contact's addresses</title>
  </head>
  <body>
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/contacts">Contact</a></li>
      <li><a href="/groups">Group</a></li>
      <li><a href="/addresses">Address</a></li>
      <li><a href="/profiles">Profile</a></li>
    </ul>
    Name: <br>
    <%= data[0].name %>
    <br>
    <br>
    <table>
      <tr>
        <th>Addresses</th>
        <th>Action</th>
      </td>
      <tr>
      <% for(var i = 0; i < data.length; i++) { %>
        <td><%= data[i].street%></td>
        <td><%= data[i].city%></td>
        <td><%= data[i].zip_code%></td>
      </tr>
      <%  }  %>

    </table>

    <!-- Contacts: id type integer, name type string, company type string, telp_number type string, email type string -->

    <form action="/contacts/address/<%= data[0].id %>" method="post">
      <input type="text" name='street' placeholder="street name">
      <input type="text" name='city' placeholder="city name">
      <input type="text" name='zip_code' placeholder="ZIP code">
      <button class = 'button_3' type="submit">Submit</button>
    </form>

  </body>
</html>
