<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Contact</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
  <body>
    <% let item = data[0] %>
    <marquee direction="right">
      <h1><a href="/">Edit Contact: <%= item.name %></a></h1>
    </marquee>

    <form action="/contacts/edit/<%= item.id %>" method="post">
      <input type="text" name="name" placeholder="Name" value="<%= item.name %>">
      <input type="text" name="company" placeholder="Company" value="<%= item.company %>">
      <input type="text" name="telp_number" placeholder="Phone Number" value="<%= item.telp_number %>">
      <input type="text" name="email" placeholder="Email" value="<%= item.email %>">
      <!--<select name="group_id">
        <option value="" selected>None</option>
        <option value="">tess</option>
      </select>-->

      <input type="submit" value="Submit">
    </form>
  </body>
</html>
