<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/contact/edit-contact/<%= data[0].id%>" method="post">
      <input type="text" name="name" value="<%= data[0].name%>">
      <input type="text" name="company" value="<%= data[0].company%>">
      <input type="text" name="telp_number" value="<%= data[0].telp_number%>">
      <input type="text" name="email" value="<%= data[0].email%>">
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
