<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Form Edit Kontak</title>
  </head>
  <body>
    <center>
    <h1>FORM ISI KONTAK</h1>
    <form action="/home/contacts/edit/<%=data[0].id%>" method = "POST">
      <br>
      Name:<br>
      <input type="text" name="name" value= "<%=data[0].name%>" >
      <br><br>
      Company:<br>
      <input type="text" name="company" value="<%=data[0].company%>">
      <br><br>
      Nomor Telepon:<br>
      <input type="text" name="telp" value="<%=data[0].telp_number%>">
      <br><br>
      Email:<br>
      <input type="text" name="email" value="<%=data[0].email%>">
      <br><br>
      <input type="submit" value="Submit">
    </form>
    </center>
  </body>
</html>
