<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <%- include part/css %>
  </head>
  <body>
    <%- include part/menu %>

    <div class="col-md-4 col-md-offset-4">
      <form class="form-inline" action="/groups" method="post">
        <input type="text" name="name" placeholder="ex: Teman Kantor" class="form-control">
        <button type="submit" name="button" class="btn btn-info"><span class="glyphicon glyphicon-send"></span> &nbsp; Add New Groups</button>
      </form>
      <br>
      <table class="table table-hover">
        <tr class="info">
          <td class="text-center">No</td>
          <td class="text-center">Group ID</td>
          <td>Name </td>
          <td class="text-center">Action</td>
        </tr>
        <% let i = 1; groupData.forEach(group => { %>
          <tr>
            <td class="text-center"><%= i++ %></td>
            <td class="text-center"><%= group.id %></td>
            <td><%= group.name %></td>
            <td class="text-center">
              <a href="/groups/<%= group.id %>/edit"><button type="button" name="button" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span> Edit</button></a>
              <a href="/groups/<%= group.id %>/delete"><button type="button" name="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button></a>
            </td>
          </tr>
        <% }) %>
      </table>
    </div>
  </body>
</html>
