<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    page profiles.
    <br><br>

    <form action="/profiles" method="post">
      <input type="text" name="username" placeholder="Username">
      <input type="text" name="password" placeholder="Password">
      <select name="contactId">
        <% data2.forEach(d => { %>
        <option value="<%= d.id %>"><%= d.name %></option>
        <% }) %>
      </select>
      <button type="submit" name="submit">Add</button>
    </form>

    <br><br>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Password</th>
          <th>Contact Name</th>
          <th>Contact ID</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(d => { %>
        <tr>
          <td><%= d.profileId %></td>
          <td><%= d.username %></td>
          <td><%= d.password %></td>
          <td><%= d.name %></td>
          <td><%= d.Contacts_id %></td>
          <td><a href="/profiles/delete/<%= d.profileId %>">DELETE</a></td>
          <td><a href="/profiles/edit/<%= d.profileId %>">EDIT</a></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <br><br>
    <a href="/">Back</a>
  </body>
</html>
