<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Profiles</h1>
    <table border="1px">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Password</th>
        <th>Action</th>
      </tr>
      <% data.forEach(d => { %>
        <tr>
          <td><%= d.id %></td>
          <td><%= d.username %></td>
          <td><%= d.password %></td>
          <td><a href="/profile/edit-profile/<%= d.id %>"><button type="button" name="button">Edit</button></a></td>
          <td><a href="/profile/delete/<%= d.id %>"><button type="button" name="button">Delete</button></a></td>
        </tr>
      <% })%>
    </table>
    <br>
    <form action="/profile" method="post">
      <input type="text" name="username" placeholder="Username">
      <input type="text" name="password" placeholder="Password">
      <button type="submit" name="submit">SUBMIT</button>
    </form>
  </body>
</html>
